/* agr: */

.vdivide {
	width: 6px;
	border: 1px solid #c5c5c5;
	border-width: 0 1px 0 1px;
	border-right-color: rgba(0,0,0,0.30);
	background: #f9f9f9;
	background: #f9f9f9;
	background: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#dfe0e1));
	background: -moz-linear-gradient(top,#f9f9f9,#dfe0e1);
	background: linear-gradient(top,#f9f9f9,#dfe0e1);
}

element.style {
}

.activity-stream .item.active {
	color: #fff;
	text-shadow: 0 -1px 1px #46677f;
	background: #7bb5db;
	background: -webkit-gradient(linear,left top,left bottom,from(#7bb5db),to(#4775b8));
	background: -moz-linear-gradient(top,#7bb5db,#4775b8);
	background: linear-gradient(top,#7bb5db,#4775b8);
	border-bottom-color: #609fd0;
	-moz-box-shadow: inset 0 2px 2px #4775b8;
	-webkit-box-shadow: inset 0 2px 2px #4775b8;
	-moz-box-shadow: inset 0 2px 2px #4775b8;
	-webkit-box-shadow: inset 0 2px 2px #4775b8;
	box-shadow: inset 0 2px 2px #4775b8;
}

.activity-stream .item {
	height: 50px;
	padding: 0 15px;
	line-height: 50px;
	border-bottom: 1px solid #d2d2d1;
	color: #333;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}


/* copied */
.side-left {
	position: absolute;
	display: block;
	height: 100%;
	top: 60px;
	background: #333333 url('../images/activity-stream/bg-body-bar.jpg');
	border: 1px solid #2E2E2E;
	width: 6.382978723404255%;
	z-index: 98;
}

.sidebar {
	margin: 0px;
	padding: 0px;
	list-style: none;
	color: #999;
}

::selection {
	background-color: #00A0B1;
	color: white;
}

.sidebar > li {
	position: relative;
	margin: 0px;
	padding: 10px 0px;
	list-style: none;
	height: 40px;
	display: block;
	text-align: center;
	font-size: 11px;
	border-top: 1px solid #555555;
	border-bottom: 1px solid #2E2E2E;
}

.sidebar > li.active:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #CDCDCD;
	border-width: 11px;
	top: 50%;
	margin-top: -11px;
}
.sidebar > li.active:after, .sidebar > li.active:before {
	right: -1px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.sidebar > li.active > a {
	color: #F1F1F1;
}
.sidebar > li > a {
	color: #CDCDCD;
	background-image: -webkit-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
	background-image: -moz-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
	background-image: -o-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
	background-image: -ms-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
	background-image: linear-gradient(top, rgba(86, 86, 86, 0.2) 0%, rgba(54, 54, 54, 0.2) 100%);
}

.helper-font-24 {
	font-size: 24px;
	line-height: 1.2em;
}

li [class^="icofont-"], .nav li [class^="icofont-"], li [class*=" icofont-"], .nav li [class*=" icofont-"] {
	display: inline-block;
	width: 1.25em;
	text-align: center;
}

a [class^="icofont-"], a [class*=" icofont-"] {
	display: inline-block;
}

[class^="icofont-"], [class*=" icofont-"] {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
}

