/**
 * Flexbox graphs - Andreas Gruenwald (a.gruenw@gmail.com)
**/
.flexgraph-container {
	/* works fine on demand! zoom: 0.2; */
}

.flexbox {
	/* background: white;
	 border-color: grey;
	*/
    border-radius: 10px;
	cursor: default !important;
	min-width:85px;
	max-width:200px;
}

/* the icon */
.flexbox .single-label:first-child span{
	padding-left:8px;
}

.flexbox .single-label {
	margin-top:3px;
	text-align:center;
	background-color:transparent;
	margin-left:5px;
	margin-right:5px;
}

.flexbox.flexbox-zoom .single-label {
	font-size: 0.75em;
}

.flexbox.flexbox-strong-zoom .single-label {
	font-size: 0.50em;
}

.flexbox .glyphicon {
	padding-left:5px; /* header line */
}

.flexline {
	width:3px !important;
	background-color: #999 !important;
}

.box.flexBox-danger, .anybox.flexBox-danger {
    color: #fff;
    background-color: #d2322d;
    border-color: #ac2925;
}

.box.flexBox-warning, .anybox.flexBox-warning {
    color: #fff;
    background-color: #ed9c28;
    border-color: #d58512;
}

.box.flexBox-success, .anybox.flexBox-success {
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}

.box.flexBox-info, .anybox.flexBox-info {
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc;
}

.box.flexBox-primary, .anybox.flexBox-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.box.flexBox-default, .anybox.flexBox-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.clickable-icon {
    cursor:pointer;
}

.clickable-icon:hover {
    opacity:0.8;
}