h1 {
	margin-bottom:0.85em;
}

h1.generic-header {
	margin-bottom:0px !important;
}

h4 {
}

h5 {
	margin-top: -0.85em;
	margin-bottom:0.8em;
}

/*
body {
	background-image: url(http://subtlepatterns.com/patterns/farmer.png);
}
*/

.chart-area-part {
	min-height:450px; 
}

.pgram {
     width:45%; 
     height:auto; 
     border:0px solid #000; 
     transform: skew(-12deg); 
     -o-transform: skew(-12deg); 
     -moz-transform: skew(-12deg); 
     -webkit-transform: skew(-12deg);
     border-radius:10px;
     margin-right:0.8em;
     color: #fff;
     cursor:pointer;
}

.pgram .title {
	font-size: 2em;
	text-align:center;
	font-style: normal;
	font-weight:300 !important;
	text-align:center;
}

.pgram .header1.highlight {
	color: rgb(243, 228, 149);
}

.pgram div, .pgram h3 {
	 transform: skew(12deg); 
     -o-transform: skew(12deg); 
     -moz-transform: skew(12deg); 
     -webkit-transform: skew(12deg);
     padding:0.25em;
     margin-left:0.1em;
     margin-right:0.0em;
     line-height:130%;
     letter-spacing:2px;
}

.pgram {
	zoom:0.8;
}

.for-whom {
	font-size:1.8em;
	margin-bottom:1em;
}

.for-whom {
	text-align:center;
}

.pgram-blue {
	background-color: #0075B0;
}

.pgram-green {
	background-color: #3BA35A;
}

.pgram-blue:hover {
	background-color:#008DB0;
}

.pgram-green:hover {
	background-color: #43AB62; /* #17B868; */
}

.pgram .header1 {
	font-size: 3.5em;
	font-weight:400;
	font-weight:500;
}

.pgram .header1-part1 {
	text-align:right;
	padding-right:0px;
	margin-right:0px;
}

.pgram .header1-part2 {
	text-align:left;
	padding-left:0px;
	margin-left:0px;
}

.soft-jumbo {
	 /* padding: 30px; */
	margin-top:-1em;
	margin-bottom: 30px;
	font-size: 21px;
	font-weight: 200;
	line-height: 2.1428571435;
	color: inherit;
}

.row-fluid{
	/* max:width:1000px; */
}

.edit_label {
	font-size:0.85em;
}

input.text_id{
	width:8em;
}

input:text, textarea {
	width:18em;	
}

input.phone{
	width:10.5em;
}

span.help-block, span.help-inline{
	width:22em;
	font-size:11px;
	text-align:justify;
}

td.highlighted, td.highlighted i {
	background-color: #0075B0 !important;
	color:white !important;
}

td.highlighted a{
	color:white !important;
}

.click-icon{
	cursor:pointer;
}

input.dpicker {
	width:8em;
}

.add-on{
	height:10px !important;
}

/*
input[type=text], input[type=select]{
	height:20px !important;
}
*/

/* Datepicker Icon same size than input fields */
span.add-on.dpicker {
	padding: 4px;
	padding-top:1px;
	padding-bottom:7px;	
}

.iconbar {
	/* float:right !important;*/
	width:3em !important;
	display:inline !important;
	position: absolute;
	right:3em;
	text-align:right;
}


.chzn-container .chzn-results .group-result {
	display: list-item;
}


/* Base class */
.project-form-layer {
  position: relative;
  margin: 15px 15px;
  margin-left:0px !important;
  padding: 50px 30px 0px;
  *padding-top: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  min-height:450px !important;     
}

/* Echo out a label for the example */
.project-form-layer .tag {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

.hierarchy-visualization {
	min-width:370px;
	
}
.hierarchy-definition {
	margin-right: -20px !important;
}

.hierarchy-definition select{
	width:12em;
}

.hierarchy-definition .row {
	margin-left:0px;
}

.core-data {
	width:370px !important;
}

.collabfields {
	padding-left:2em !important;
}

.project-form-layer p.submit-field {
	position: absolute;
	bottom:2em;
	left:2em;
}

.disclaimer {
	clear:both;
}

.disclaimer .help-inline {
		width:800px !important;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}


.acc-selected {
	/* background-color: #bbb;    */
}

.rule_heading {
	/* background-color:#ddd;   */
	margin-bottom:3px;
}

.rule_remove, .add_rule {
	cursor: pointer;
}

.rule_remove{
	float:right;
	right:2em;
	/* margin-top:-2em; */
}

 .add_rule{
 	text-align:right;
 	display:block;
 	margin-top:-1em;
 	margin-right:0.5em;
 }

#ajaxveil {
	position: fixed;
	top: 60px;
	right: 2em;
}

.modal-backdrop {background: none;}

.pmbok_popups {
	
}

.v-model-row {
	margin-top:10px;
}

.sdlc {
	max-width:800px;
}

.planned-phase {
	background-color: rgba(233, 63, 56, 0.59);
	height:5em;
}

.logo-gruenwald {
	font-size:1.3em;
	color: rgb(38, 63, 42);
}

.logo-gruenwald i {
	margin-right:-8px;
}

/* bootstrap navbar (generic table page)  */
.bs-sidenav {
	/* margin-top: 60px; */
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: 0 1px 0 #fff;
	background-color: #f7f5fa;
	border-radius: 5px;
}


.bs-sidenav li.nav-separator {
	text-align: center;
	text-transform:uppercase;
	font-size:0.85em;
	background-color:#fff;
	margin-left:2px;
	margin-right:2px;
}

.bs-sidenav li.nav-separator:first-child {
	margin-top:-7px;
}
/*
.bs-sidenav li.nav-separator a {
   background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 5;
}

.bs-sidenav li.nav-separator+li {
	border-top: 1px solid grey;
}
*/

.bs-sidebar #searchForm {
	margin-top:0.1em;
	min-width:18em;
}

.bs-sidebar #searchForm input[type=text] {
	width:16em;
}

.bs-sidebar .generictable-navbar-toggle {
	/* margin-left:1em; */
	cursor:pointer;
	position:absolute;
	right:2em;
	margin-right:0;
	
}

.navbar-expand-icon-span {
	position:absolute;
	right:2px;
	bottom:36px;
	cursor:pointer;
	color:grey;
	font-size:0.9em;
	background-color: #f7f5fa;
}

.icon-flipped {
	transform: scaleX(-1) scaleY(-1);
	-moz-transform: scaleX(-1) scaleY(-1);
	-webkit-transform: scaleX(-1) scaleY(-1);
	-ms-transform: scaleX(-1) scaleY(-1);
}

.bs-sidebar .nav > li > a:hover, .bs-sidebar .nav > li > a:focus {
	text-decoration: none;
	background-color: #e5e3e9;
	border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > li > a {
	display: block;
	color: #716b7a;
	padding: 3px 20px;
}

.bs-sidebar .active, .bs-sidebar .active:hover  {
	color: #EDEDF7 !important;
	background-color: #0075B0 !important;
	text-shadow: none !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #080808;
}

.label-itpm {
	/* background-color: #428bca !important; */
	background-color: 0075B0 !important;
}

.label-config {
}

table .glyphicon {
	font-size: 1.5em;
}

.icon-status-good {
	color:green;
}

.icon-status-bad {
	color: rgb(189, 12, 12);
}

.streaming-icon.repeat {
	color: orange;
}

.recordInfo {
	font-size:1.0em !important;
	color:#5cb85c;
}

.genericform .form-control {
	max-width:30em;
}

.genericform textarea {
	height:100px !important;
}

/* main form */
.genericform .description {
	padding-bottom: 1.0em;
	margin-top: -0.5em;
}

/* subform */
.genericform .genericform {
	/* border: 2px dashed grey; */
}

.genericform .genericform .description {
	padding-bottom: 0em;
	margin-top: 0em;
	font-size: 0.95em;
}

.genericform-icon {
	cursor: pointer;
}

/*
.popover-content {
	min-width: 300px;
}
*/

.popover {
	min-width:300px;
}

/* agr: deactivated during test
.form-control.select2-container  {
	padding:0px !important;
}

.form-control .select2-choices {
	border: 0px !important;
}
.select2-choices {
	height: 0px !important;
}

.form-control .select2-arrow {
	display:none !important; 
}
*/

/* Query and Rule Component */
.selected .accordion-body.hide {
    display: block !important; /* important */
}

.panel-default > .panel-heading,
.rule_heading.panel-heading{
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
}

.accordion-heading a {
    color: #333; /* disable or replace (?) */
}

/* optimize layout for sync table*/
.itpm-yellow {
	color: rgb(187, 141, 21);
}

.queryeditor-edit {
	cursor:pointer;
}

.qe-integrated-container {
	margin-bottom:30px;
	padding:10px;
	border: 1px dashed grey;
	border-radius:15px;
	-webkit-border-radius: 15px; 
    -moz-border-radius: 15px; 
    min-width:530px;
    z-index: 5;
	position: relative;
	background-color: white
}

table .config-title a, .dashboard a{
	color: #333;
}

.table thead th {
	background-color: rgb(242,242,242);
	background-image: -ms-linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(242,242,242)), to(rgb(232,232,232)));
	background-image: -webkit-linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
	background-image: -o-linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
	background-image: linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
	background-image: -moz-linear-gradient(top, rgb(242,242,242), rgb(232,232,232));
	border: 1px rgb(220,220,220) solid !important; 
}

thead th a, thead th span {
	color: #666;
	text-transform: capitalize;
}


.table thead>tr>th {
	 vertical-align: middle;
}

.table thead>tr>th {
	/* font-family: 'Glyphicons Halflings'; */
	margin:5px;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size:1.1em;
}

.synch-table th:first-child {
	width:1em; /*icon*/
}

table i {
	margin-left:0.5em;
}

/*
.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}
*/

.kpi-row {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 10px;
	background: #f6f6f6;
	border: 1px solid #e9e9e9;
	margin-bottom: 3em;
	margin-left:10px;
	margin-right:10px;
}

/*
.dashboard-stat, .dashboard-stat:hover, .dashboard-stat:active, .dashboard-stat:focus {
	color: #666;
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
	outline: none;
}
*/

.dashboard-stat {
	position: relative;
	display: block;
	padding: 20px 15px;
	background-color: #eee;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
	width: 200px;
	height:115px;
}

.dashboard-stat .visual {
	z-index: 0;
	float: right;
	height: 50px;
}

.dashboard-stat .details {
	position:absolute;
}

.dashboard-stat .visual i {
	position: absolute;
	left: 0;
	left: auto;
	right: 0;
	bottom: 0;
	display: block;
	height: 72px;
	font-size: 72px;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	text-shadow: none;
}

.dashboard-stat .content {
	display: block;
	margin-bottom: 0.8em;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
	max-width:90%; /* text should not overlap icon */
}

.dashboard-stat .value {
	display: block;
	font-size: 1.5em;
	font-weight: 600;
}

.dashboard-stat {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.dashboard-stat.box {
	border:0px;
	position:relative;
}

/* Primary state */
.dashboard-stat.primary, .dashboard-stat.primary:hover, .dashboard-stat.primary:active {
	color: #FFF;
	background-color: #e5412d;
	/* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
}


.dashboard-stat.primary i, .dashboard-stat.primary:hover i, .dashboard-stat.primary:active i {
	color: #dd301b;
}
/*
.dashboard-stat i, .dashboard-stat:hover i, .dashboard-stat:active i, .dashboard-stat:focus i {
	color: #e4e4e4;
}
*/

.legend {
    width: 10em;
    border: 1px solid #333;
        padding: 0 0.3em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333;
}

.legend .title {
    display: block;
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333;
}

table .navigation {
	display:none; /* supress table browsing to show it at the bottom */
	font-size:0.95em;
}

.navigatorLabel {
	float:right;
}

.dashboard h5 {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 15px;
	border-bottom: 1px solid rgba(51, 86, 106, 0.15);
	font-size: 1.5em;
	text-transform: uppercase;
	line-height: 30px;
	color: #666; 
	color: rgba(0, 0, 0, 0.4);
	font-weight:400;
}

.show-all-label{
	margin-top:-1em;
	margin-right:1em;
	float:right;
}


