.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  border: 1px solid silver;

  background: white;
  font-size: 90%;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  max-width: 25em;
  overflow: hidden;
  white-space: pre;
  color: black;
  cursor: pointer;
}

.CodeMirror-hint {
	padding-left:1.6em;
}


.CodeMirror-hint-active {
  background: #FF6;
  color: #333;
}

.CodeMirror-hint, .CodeMirror-hint-active {
	background-repeat:no-repeat;
	background-size: 12px Auto;
	background-position: 3px center;
}


.owlClass{
	background-image: url('../images/queryEditor/orange.png');
}

.owlObjectProperty{
	background-image: url('../images/queryEditor/blue.png');
}

.owlDataProperty{
	background-image: url('../images/queryEditor/green.png');
}

