<?xml version="1.0" encoding="UTF-8" ?>
<wicket:head>
</wicket:head>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div wicket:id="query-editor" class="col-md12 qe-integrated-container">
			</div>
			<i class="glyphicon glyphicon-pencil queryeditor-edit" onmouseover="$(this).show()" style="position:absolute;right:5px;display:none" wicket:id="hover-icon"></i>
		
		<script wicket:id="js-part"></script>
	
</wicket:panel>