<?xml version="1.0" encoding="UTF-8" ?>
<wicket:head>
<script>
	function shift_tabs(hideAll) {
		var selectedGroup = $($('.selected.accordion-group')[0]);
	 	var sel = $(selectedGroup).find('.accordion-inner');
	 	if($(sel) != null) {
			$(sel).html($('.tab-panel').html());
			if(!hideAll) {
				$($('.selected.accordion-group')[0]).find('.accordion-heading').addClass('acc-selected');
			}
			$('.accordion-group').each(function() {
				console.log('Check accordion group for some classes');
				if(!$(this).find('.accordion-heading').hasClass('new_rule_group') 
				&& ($(this).text() != $(selectedGroup).text()) || hideAll) { //only main classes hiding
					$(this).find('.accordion-body').hide();
					$(this).find('.accordion-body').collapse('hide');
					$(this).find('.accordion-body').show();
                    console.log('First hide, then show');
				}
			});
			$('.tab-panel').remove();
		}
	}
	
	$(document).ready(function(){ 
		$(document).ajaxComplete(function(event,request, settings) {
			if($('div.errorlevel.feedbackPanel.success').text().trim() != '') {
                console.log('div.errorlevel.feedback.success found' + $('div.errorlevel.feedbackPanel.success').text());
				shift_tabs(true);
			}
		});
	});
	
</script>
</wicket:head>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
<div wicket:id="tabs-container" class="accordion panel-group-replaced-by-knowledge-area-panel-java">

	<div wicket:id="tabs" class="accordion-group panel-group panel panel-default pmbok_group">
	    <div class="accordion-heading panel-heading">
      		<a wicket:id="link" class="accordion-toggle panel-title"
      			href=""><span wicket:id="title">[[tab title]]</span>
      		</a>
      	</div>
      	<div class="accordion-body panel-collapse collapse hide in">
      		<div class="accordion-inner panel-body panel-inner">
        	</div>
      	</div>
    </div>
</div>  
<div wicket:id="panel" class="tab-panel"><!-- no panel --></div>
<script>
	shift_tabs();
</script>
</wicket:panel>