<wicket:extend>
  <div class="container container-fluid">
		<div class="row-fluid">
			<h1>ITPM Queries and Rules</h1>
			<h5>This page lets you define queries and rules in different query dialects. The queries
				are organized based on the format of the <a href="http://www.pm-primer.com/pmbok-project-management-knowledge-areas/" target="_blank">
				PMBoK knowledge areas</a>. The pragmatic approach ensures that all knowledge areas are covered and organized so that
				they can be reused in future projects.</h5><br />
			<div class="">
				<div wicket:id="infoFeedback">[Feedback Panel]</div>
  				<div class="test" wicket:id="tabs">Semantic Query Editor</div>  				
			</div>
		</div>
		<!--/row-->
	</div>
	<!--/.fluid-container--> 
<script>
jQuery(document).ready(function() {
  jQuery('.panel-group').collapse(); //add accordion behavior to bootstrap panels.

  //when loading, if there are zero entries yet, then open the create new form 
  var rules = $('.edit-rule-body');
  if($(rules).length==0) {
  	$('.add-rule-body').addClass('in');
  }
  
  $('.handle-toggling').click(function() {
  		var that=$(this);
      	$(this).closest('div.accordion-group').find('.accordion-body:not(in)').each(function(x,y) {
      		if($(that).text().trim()!=$(this).prev().text().trim()) {
      			//bugfixing
      			if($(y).hasClass('in')) {
      				$(y).collapse('hide'); 
      			}
			} else {
				//$(y).collapse();
			}
		});
		$(this).parent().next('div').collapse('toggle')
  });
});
</script>
</wicket:extend>