.canvas .popover {
	/* max-width: 800px; */
	max-width: 1000px;
	/* max-height: 600px; */
}

.canvas  .popover-content {
    max-height: 300px;
    overflow-y: auto;
}

.canvas .annotation_table table{
	font-size: 0.85em !important;	
}

.diagram-switcher .dropdown-menu {
	cursor:pointer;
	min-width:240px;
}

.diagram-switcher {
    text-align:right;
}
.diagram-switcher .btn-group {
    text-align:left;
}

.canvas {
	 position:relative; /*important -  for positioning of inner elements !*/
	 /* z-index:1000; */
	 border:1px dashed lightgrey;
	 padding:5px; 
	 width:97%;
	 height:85%;
	
	/* cursor:context-menu; */
}
/*
#draw {
    zoom: 1.5;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
*/

.box {
    min-width:100px;
    min-height:100px;
    border:1px solid black;
    position:absolute;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif !important;
    z-index:5;
    background-color: #fff;
    cursor:pointer;
}

.box .umlClass,
.box .umlAbstract,
.box .umlInterface,
.box .umlEnum {
    border-bottom: 1px solid;
    padding-left:20px;
    padding-right:20px;
}

.single-label.umlAbstract {
	font-style: italic;
}

.box .umlClass {
    background: url(../../images/diagram/classes.gif) no-repeat;
}
.box .umlInterface {
    background: url(../../images/diagram/interface.gif) no-repeat;
}

.box .umlAbstract {
    background: url(../../images/diagram/classes.gif) no-repeat; /* in eclipse the icon for abstract and concrete class are the same*/
}

.box .umlEnum {
    background: url(../../images/diagram/enum.gif) no-repeat;
}

.box .umlAttribute {
    font-size:0.85em;
}

/*
.box .umlAttribute:hover, .box .umlAttribute:focus {
    background-color: lightyellow;
}
*/

.box .single-label input[type=text] {
    /*width:60%; */
    width:100px;
    font-size:1em;
    /*height:15px;*/
}

.box .single-label .iconbox {
    position:absolute;
    right:2px;
    padding-top:3px;
    margin:0px auto;
}

.box .umlAttribute.single-label .iconbox {
	border:2px solid red;
	position:relative; !important;
}

.umlAttribute input[type=text] {
	margin-right:5px;
}

.single-label [class^="edit-icon"]{
    padding:3px;
    font-size:1.2em;
    display:none;
}

.single-label:hover [class^="edit-icon"]{
    display:inline;
}



.single-label [class*="remove-button"]{
    color:#CD5C5C; /*color: indianred; */
   /* background-color:#fff; */
   background-color:transparent;
}

.remove-comment-action {
	color:#CD5C5C;
	cursor:pointer;
	font-size:1.6em;
}

.single-label [class*="change-button"],
.single-label [class*="save-button"] {
    color: mediumseagreen;
    /* background-color:#fff; */
    background-color:transparent;
    font-size:0.95em;  
    /* removed for bootstrap 3 vertical-align: middle; */
}

.single-label [class*="change-button"],
.single-label [class*="save-button"],
.single-label [class*="remove-button"] {
	vertical-align: middle;
}
/* causes problems with coloured attributes
.box .umlAttribute {
	margin-right:5px; /* to ensure some space for the iconbox */
}*/

.umlClass [class*="change-button"]  {
    background-color:transparent;
}

.umlClass .iconbox {
    /*padding-top:0px;
    right:0px;
    */
}


.association_line {
    position: absolute;
    width: 1.0px;
    background-color: #222;
    z-index: 2;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    cursor: context-menu;
}

.self-reference {
    border:1px solid black;
    /* background-color: lightyellow; */
    background-color:#FFF;
    width:60px;
    height:60px;
    position:absolute;
    z-index:-1;
}

.linelabel{
    background-color:hotpink;
    font-size:1.5em;
    position:absolute;
    left:3px;
    bottom:0px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.lineMainLabel {
    position:absolute;
    background-color:rgba(255,255,255,0.8);
    cursor:pointer;
    z-index:3;
}

.lineMainLabel input[type=text]{
   width:8em;
}

.lineEndpointLabel {
    position:absolute;
    background-color: rgba(255,255,255,0.5);
    cursor:pointer;
    z-index:5;
    font-size:0.8em;
}

.lineEndpointLabel input[type=text]{
    width:3em;

}

.rotate-180 img {
    left:-7px !important;
}

.arrow-simple {
    z-index:10 !important;
}
.arrow-simple span {
	position:absolute;
    left:-9px;
    bottom:0px;
    max-width: 20px !important; /*bootstrap! */
    z-index:10 !important;
    /*
    width: 16px;
    height: 21px;
    */
    width:19px;
    height:19px;
    background-clip: content-box;
    background-position: left top;
    background-repeat: no-repeat;
}

.arrow-generalization {
    background-image: url('../../images/diagram/generalization.png');   
}

.arrow-arrow {
    background-image: url('../../images/diagram/arrow.png');   
}

.arrow-composition {
    background-image: url('../../images/diagram/composition.png');   
}


.arrow-aggregation {
    background-image: url('../../images/diagram/aggregation.png');   
}

.glow {
	-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
}

.glow1 {
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
}

.glow2 {
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    border:1px solid rgba(0,0,255, 0.8); 
}


/* these are the colors for indicating the status of a cdlflex entity in the semantic editor classes */
.umlAttribute, .iconbox,
.umlAttribute, .iconbox span,
.umlAttribute, .iconbox i,
.editicon,
.editicon:hover {
	border: 0px solid red !important;
}

.status-default {
	
}

.status-local {
	background-color: #F7F8FA;
	color: #555;
	border-color: #555;
}

.status-local.umlClass,
.status-info.umlClass {
		border: 1px dotted;
}

.status-local.umlClass div, 
.status-local.umlClass span,
.status-info.umlClass div,
.status-info.umlClass span  {
	border-top: 0px solid red;
	border-left: 0px solid red;
	border-right: 0px solid red;
	border-bottom: 1px dotted;
}

/* */
.status-local_available {
	background-color: rgb(224, 224, 224);
	color: #555;
	border-color: #555;
}

.status-info {
	background-color: rgb(220, 220, 233);
	color: #555;
	border-color: #555;
}
/* */

.status-suggestion.umlClass {
		border: 1px dashed;
}

.status-suggestion.umlClass div, 
.status-suggestion.umlClass span {
	border-top: 0px solid red;
	border-left: 0px solid red;
	border-right: 0px solid red;
	border-bottom: 1px dashed;
}

/* */


.status-suggestion {
	background-color: #F5F4D1;
	color: #686666;
	border-color: #686666;
	font-style: italic;
}


.status-suggestion.umlClass {
		border: 1px dashed;
}

.status-suggestion.umlClass div, 
.status-suggestion.umlClass span {
	border-top: 0px solid red;
	border-left: 0px solid red;
	border-right: 0px solid red;
	border-bottom: 1px dashed;
}

.status-suggestion {
	background-color: #F5F4D1;
	color: #686666;
	border-color: #686666;
	font-style: italic;
}


.status-suggestion.umlClass {
		border: 1px dashed;
}

.status-suggestion.umlClass div, 
.status-suggestion.umlClass span {
	border-top: 0px solid red;
	border-left: 0px solid red;
	border-right: 0px solid red;
	border-bottom: 1px dashed;
}

/* */
.status-suggestion {
	background-color: #F5F4D1;
	color: #686666;
	border-color: #686666;
	font-style: italic;
}


.status-suggestion.umlClass {
		border: 1px dashed;
}

.status-suggestion.umlClass div, 
.status-suggestion.umlClass span {
	border-top: 0px solid red;
	border-left: 0px solid red;
	border-right: 0px solid red;
	border-bottom: 1px dashed;
}

/* second editor for comparison sembase modeler */
.comparison-editor {
	margin-top: 50px;
}