<wicket:panel>
<span class="" style="margin-right:0.3em"><a id="deleteButton" href="#myModal" role="button" class="btn btn-info btn-large" 
	data-toggle="modal">Delete selected</a></span>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h4 id="myModalLabel">Delete selected Records</h4>
      </div>
      <div class="modal-body">
       	<p>Please acknowledge the deletion of <span class="no_deletions"></span> selected records. The changes cannot be undone.</p>
       	
      </div>
      <div class="modal-footer">
      			<form wicket:id="deleteForm" method="POST">
		      		<input wicket:id="serIds" type="hidden" id="serializedIds"/>
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        	<button type="submit" class="btn btn-default" value="Delete" id="finallyDelete">Delete</button>
       			</form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</wicket:panel>